<div class="container">
  <div class="container1">
    <div class="intro">
      <h6 class="mini_title">_Restaurant</h6>
      <br>
      <h2 class="title">We service </h2>
      <h2 class="title">Delicious Food </h2>
      <p class="description">Welcome to Flavorshare! This is a social media app built using
         React and Redux, with a beautiful UI powered by
        Chakra UI. With Flavorshare
      </p>
      <input type="button" value="Get started" class="btn" routerLink="/posts">
    </div>
    <div class="crd_img">
      <img src="https://i.pinimg.com/736x/4e/56/fa/4e56fa3ef27a56c8b5e6bec2b2b18d7f.jpg" alt="food">
    </div>
  </div>

  <!------------->
  <h2 class="About">About us</h2>
  <div class="container2">
    <div class="crd_img2">
      <img src="https://i.pinimg.com/736x/10/9c/d2/109cd288493a97b4232a0ee7565660ba.jpg" alt="food">
    </div>
    <div class="intro2">
      <p class="description2">Welcome to Flavorshare! This is a social media app built using
         React and Redux, with a beautiful UI powered by
        Chakra UI. With Flavorshare
      </p>
    </div>
  </div>
</div>
